*{
    padding: 0;
    margin: 0;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Carter One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shippori Mincho', serif;
}

header{
    height: 80px;
    line-height: 80px;
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

header p{
    margin-left: 50px;
    font-size: 24px;
    color: #ffffff;
}

header a{
    color: #ffffff;
    text-align: right;
    text-decoration: none;
    position: relative;
}

header a::after {
    position: absolute;
    bottom: 20px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #FFAB1A;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.5s;
}

header a:hover::after {
    transform: scale(1, 1);
}

nav {
    /* top: 0; */
    right: 100px;
}

nav ul{
    display: flex;
    margin-left:  800px;
}

nav li{
    list-style: none;
}

nav a{
    color:#ffffff;
    font-size:20px;
    padding:30px;
}

#firstview{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url(images/header4.JPG);
    height: 850px;
    background-size: cover;
}

.title{
    color: #ffffff;
    font-size: 58px;
    text-align: left;
    padding-top: 550px;
    padding-left: 100px;
    font-weight: lighter;
}

.title span{
    padding-left: 300px;
}

#about{
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)) ,url(images/about.jpg);
    height: 850px;
    background-size: cover;
}

.about-text{
    color: #ffffff;
    text-align: right;
    padding-right: 80px;
    padding-top: 120px;
}

.about-title{
    font-size: 36px;
    border-bottom: solid 1px #fff;

}

.about-p{
    padding-top: 80px;
    font-size: 18px;
    line-height: 64px;
}

#spot{
    height: 4000px;
    background-color: #042D4D;
}

.spot-title h2{
    font-size: 250px;
    color: #0F3653;
    position: absolute;
}

.spot-title h3{
    font-size: 28px;
    color: #ffffff;
    padding-left: 120px;
    position: relative;
    padding-top: 300px;
}

.spot-left{
    color: #ffffff;
}

.spot-coment-back{
    height: 450px;
    width: 1000px;
    background-color: #042D4D;
    border: solid 1px #FFAB1A;
    margin-left: 450px;
}

.spot-left img{
    height: 500px;
    width: 900px;
}

.spot-coment{
    height: 475px;
    width: 525px;
    background-color: #015BA0;
    margin-left: 850px;
}

.spot-coment p{
    padding: 120px 60px 60px;
    line-height: 50px;
    letter-spacing: 0.8em;
}

.spot-name{
    writing-mode: vertical-rl;
    font-size: 50px;
    letter-spacing: 0.5em;
    padding-left: 1300px;
}

#licence{
    height: 992px;
    background-color: #0F3653;
}

.licence-title h2{
    font-size: 250px;
    color:  #042D4D;
    margin-left: 540px;
    position: absolute;
}

.licence-title h3{
    font-size: 28px;
    color: #ffffff;
    margin-left: 980px;
    position: relative;
    padding-top: 260px;
}

.licence-coment{
    margin-top: 150px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(images/licence_last.png);
    background-size: cover;
}

.licence-coment p{
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    line-height: 64px;
    letter-spacing: 0.3em;
    padding-top: 135px;
    padding-left: 100px;
}

.licence-coment a{
    color: #ffffff;
    font-size: 18px;
    margin-left: 700px;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: 0.8s;
}

.licence-coment a:hover{
    font-size: 20px;
    color: #FFAB1A;
}

.arrow_right {
    position: relative;
    padding-left: 25px;
}

.arrow_right::before { /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 28.3px;
    bottom: 0;
    left: 183px;
    width: 10px;    /* くの字を山なりに見た時、左側の長さ */
    height: 10px;   /* くの字を山なりに見た時、右側の長さ */
    border-top: 2px solid #FFAB1A;     /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 2px solid #FFAB1A;   /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg);    /* くの字の向き */
  }

.arrow_right::after { /* 棒の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 25px;
    width: 170px; /* 棒の長さ */
    height: 2px; /* 棒の太さ */
    background: #FFAB1A;  /* 棒の色 */
}

#shop{
    height: 1300px;
    background-color: #042D4D;
}

.shop-title h2{
    font-size: 250px;
    color: #0F3653;
    position: absolute;
}

.shop-title h3{
    font-size: 28px;
    color: #ffffff;
    padding-left: 180px;
    position: relative;
    padding-top: 300px;
}

.shop-name{
    width: 200px;
    border-bottom: solid 1.5px #FFAB1A;
}

.shop-name2{
    width: 220px;
    border-bottom: solid 1.5px #FFAB1A;
}

.shop-left{
    width: 740px;
    height: 405px;
    background-color: #032743;
    margin-top: 150px;
    color: #ffffff;
}

.shop h4{
    font-size: 36px;
    padding-left: 50px;
    padding-top: 40px;
}

.shop p{
    padding-left: 145px;
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.3em;
}

.shop a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 580px;
    transition: 0.8s;
}

.shop a:hover{
    font-size: 20px;
    color: #FFAB1A;
}

.arrow_shop {
    position: relative;
    padding-left: 25px;
}

.arrow_shop::before { /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 28.3px;
    bottom: 0;
    left: 660px;
    width: 10px;    /* くの字を山なりに見た時、左側の長さ */
    height: 10px;   /* くの字を山なりに見た時、右側の長さ */
    border-top: 2px solid #FFAB1A;     /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 2px solid #FFAB1A;   /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg);    /* くの字の向き */
  }

.arrow_shop::after { /* 棒の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 553px;
    width: 120px; /* 棒の長さ */
    height: 2px; /* 棒の太さ */
    background: #FFAB1A;  /* 棒の色 */
}

.shop-right{
    width: 740px;
    height: 405px;
    margin-left: 740px;
    background-color: #032743;
    color: #ffffff;
}

#footer{
    height: 400px;
    background-color: #021B2F;
    color: #ffffff;
}

.footer-box{
    padding-top: 30px;
    margin-left: 400px;
    border-left: solid 1.5px #FFAB1A;
    /* display: flex; */
}

.footer-box a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.1em;
    line-height: 60px;
}

.footer-title a{
    font-size: 24px;
}

.footer-last{
    font-size: 12px;
    float: none;
    justify-content: center;
}
