* {
    padding: 0;
    margin: 0;
    font-family: 'Shippori Mincho', serif;
    /* outline: 2px red solid; */
}

body {
    width: 100vw;
}

header{
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
}

.header-title{
    margin-left: 4vw;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.header-title:hover{
    color: #FFAB1A;
}

nav {
    margin-right: 3vw;
}

nav a {
    color: #ffffff;
    text-align: right;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    margin: 0 2vw;
}

nav a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #FFAB1A;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.8s;
}

nav a:hover::after {
    transform: scale(1, 1);
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}

.bg-switcher{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url(images/header4.JPG);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.title{
    position: absolute;
    font-size: 48px;
    text-align: left;
    bottom: 9vw;
    left: 10vw;
    font-weight: lighter;
}

.title span{
    margin-left: 13vw;
}

.blur{
	animation-name:blurAnime;
	animation-duration: 1.8s;
	animation-fill-mode:forwards;
}

.blurTrigger{
    opacity: 0;
}

@keyframes blurAnime{
    from {
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }

    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

.scroll{
    font-size: 18px;
    position: absolute;
    transform:rotate(90deg);
    bottom: 10vw;
    right: 4vw;
}

.scroll span{
    display: inline-block;
    width: 20vw;
    border-bottom: solid 1.5px #ffffff;
    position: relative;
    bottom: 2vw;
    left: 55px;
}

#about{
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)) ,url(images/about.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 80px;
}

.about-text{
    color: #ffffff;
    text-align: right;
    width: 50%;
}

.about-text h2 {
    font-size: 32px;
    border-bottom: solid 1px #fff;
    font-weight: lighter;
}

.about-text p {
    padding-top: 80px;
    /* font-size: 16px; */
    line-height: 64px;
}

#spot{
    width: 100%;
    background-color: #042D4D;
}

.left-title h2{
    font-size: 200px;
    color: #0F3653;
}

.left-title h3{
    width: fit-content;
    font-size: 24px;
    color: #ffffff;
    position: relative;
}

.spot-title h3{
    top: -3vw;
    left: 8vw;
    font-weight: lighter;
}

.sp {
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    padding-bottom: 25vw;
}

.spot-right {
    justify-content: end;
}

.spot-left-back {
    position: absolute;
    width: 64vw;
    height: 25vw;
    /* height: calc(100vw * 0.35); */
    border: solid 1px #FFAB1A;
    right: 15vw;
    top: 10vw;
    z-index: 0;
}

.spot-right-back {
    position: absolute;
    width: 64vw;
    height: 25vw;
    /* height: calc(100vw * 0.35); */
    border: solid 1px #FFAB1A;
    left: 15vw;
    top: 10vw;
    z-index: 0;
}

.spot-left img, .spot-right img {
    width: 55%;
    position: relative;
    z-index: 2;
}

.spot-left-comment {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    right: 18vw;
    width: 30vw;
    height: 28vw;
    /* height: calc(100vw * 0.35); */
    background-color: #015BA0;
    z-index: 4;
}

.spot-right-comment {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    left: 18vw;
    width: 30vw;
    height: 28vw;
    /* height: calc(100vw * 0.35); */
    background-color: #015BA0;
    z-index: 4;
}

.spot-right-comment p, .spot-left-comment p {
    width: 60%;
    line-height: 3rem;
    font-size: 1rem;
}

.spot-left-name {
    position: absolute;
    top: -2.5vw;
    right: 20vw;
    writing-mode: vertical-rl;
    letter-spacing: 1rem;
    font-size: 44px;
    z-index: 6;
}

.spot-right-name {
    position: absolute;
    top: -6.5vw;
    left: 18.5vw;
    writing-mode: vertical-rl;
    letter-spacing: 1rem;
    font-size: 44px;
    z-index: 6;
}

#licence{
    width: 100%;
    background-color: #0F3653;
}

.right-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-title h2{
    font-size: 200px;
    color:  #042D4D;
}

.right-title h3{
    font-size: 32px;
    color: #ffffff;
    position: relative;
    font-weight: lighter;
}

.licence-title h3{
    top: -6vw;
    right: 20vw;
}

.licence-comment{
    height: 38vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(images/licence.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.licence-arrow{
    display: flex;
    justify-content: center;
}

.licence-comment p{
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    line-height: 64px;
    letter-spacing: 0.3em;
    padding-top: 135px;
    padding-left: 100px;
}

.licence-comment a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.licence-comment a:hover{
    font-size: 20px;
    color: #FFAB1A;
}

.arrow_right {
    position: relative;
    padding-left: 25px;
}

.arrow_right::before { /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 28.3px;
    bottom: 0;
    left: 183px;
    width: 10px;    /* くの字を山なりに見た時、左側の長さ */
    height: 10px;   /* くの字を山なりに見た時、右側の長さ */
    border-top: 2px solid #FFAB1A;     /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 2px solid #FFAB1A;   /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg);    /* くの字の向き */
  }

.arrow_right::after { /* 棒の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 25px;
    width: 170px; /* 棒の長さ */
    height: 2px; /* 棒の太さ */
    background: #FFAB1A;  /* 棒の色 */
}

#shop{
    width: 100%;
    background-color: #042D4D;
}

.shop-title h3{
    top: -4vw;
    left: 9vw;
}

.shop-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vw;
    padding-top: 3vw;
}

.shop-name{
    width: 100%;
    margin-top: 3vw;
}

.shop-name h4 {
    font-size: 28px;
    width: fit-content;
    margin-left: 5vw;
    border-bottom: solid 1.5px #FFAB1A;
    font-weight: lighter;
}

.shop-left{
    display: flex;
    width: 100%;
    height: 405px;
    color: #ffffff;
}

.shop-right{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 405px;
    color: #ffffff;
}

.shop {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #032743;
}


.shop p{
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.3em;
    margin-top: 3vw;
}

.shop a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
    margin-right: 5vw;
}

.shop-link {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 0vw;
}

.shop a:hover{
    font-size: 20px;
    color: #FFAB1A;
}

.arrow_shop {
    position: relative;
}

.arrow_shop::before {
    content: "";
    position: absolute;
    right: -1vw;
    bottom: -1vw;
    width: 10px;
    height: 10px;
    border-top: 2px solid #FFAB1A;
    border-right: 2px solid #FFAB1A;
    transform: rotate(45deg);
}

.arrow_shop::after {
    content: "";
    position: absolute;
    right: -1vw;
    bottom: calc(-1vw + 5px);
    width: 80px;
    height: 2px;
    background: #FFAB1A;
}

#footer{
    height: 400px;
    background-color: #021B2F;
    color: #ffffff;
}

.footer-wrapper{
    display: flex;
    padding-left: 10%;
    padding-top: 60px;
}

.footer-wrapper a:hover{
    color: #FFAB1A;
    transition: 0.3s;
}

.footer-box{
    border-left: solid 1.5px #FFAB1A;
    margin-right: 150px;
    padding-left: 20px;
}

.footer-box a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.1em;
    line-height: 0;
    margin: 46px 0 0 0;
    display: inline-block;
}

.first-footer-box a:nth-child(1){
    margin: 0;
    display: inline-block;
    font-size: 24px;
}

.second-footer-box{
    display: flex;
    align-items: center;
}

.second-footer-box a:nth-child(1){
    margin: 0;
}

.footer-last{
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


#c-card{
    width: 100%;
    background-color: #0F3653;
    padding-bottom: 10vw;
}

.c-card-title h3{
    top: -5vw;
    right: 15vw;
}

.c-card-comment{
    padding-right: 15vw;
}

.c-card-comment p{
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    line-height: 4em;
}

#licence-flow{
    width: 100%;
    background-color: #042D4D;
    padding-bottom: 6vw;
}

.flow {
    position: relative;
    margin-bottom: 20vw;
    margin-top: 5vw;
    display: flex;
}

.licenceflow-title h2{
    font-size: 150px;
}

.licenceflow-title h3{
    top: -4vw;
    left: 25vw;
}

.flow-right {
    justify-content: end;
}

.flow img {
    width: 75vw;
    height: 25vw;
    object-fit: cover;
    object-position: 0% 100%;
    position: relative;
    z-index: 2;
}

.flow-left-comment{
    color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 8vw;
    right: 12vw;
    width: 38%;
    background-color: #023E8A;
    z-index: 4;
    box-shadow: #011F45;
    box-shadow: 1.5vw 1.5vw 0 0 rgba(1, 31, 69, 1);
}

.flow-right-comment{
    color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 8vw;
    left: 12vw;
    width: 38%;
    /* height: 35%; */
    background-color: #023E8A;
    z-index: 4;
    box-shadow: -1.5vw 1.5vw 0 0 rgba(1, 31, 69, 1);
}

.flow-left-comment h4 ,.flow-right-comment h4{
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin-top: 2vw;
    font-weight: lighter;
}

.flow-left-comment p ,.flow-right-comment p{
    display: flex;
    width: 60%;
    margin: 3vw 0;
    line-height: 3rem;
    font-size: 1rem;
}

.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

.fuwatAnime2 {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:2.3s;
    -ms-animation-duration:2.3s;
    animation-duration:2.3s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

@media all and (max-width:480px){
    header{
        opacity: 0;
    }
    
    .header-title{
        margin-left: 4vw;
        font-size: 10px;
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;
    }
    
    .header-title:hover{
        color: #FFAB1A;
    }
    
    nav {
        margin-right: 0;
    }
    
    nav a {
        color: #ffffff;
        text-align: right;
        text-decoration: none;
        position: relative;
        font-size: 10px;
        margin: 0 2vw;
    }

    .bg-switcher{
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url(images/header4.JPG);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        position: relative;
        color: #ffffff;
    }
    
    .title{
        position: absolute;
        font-size: 32px;
        writing-mode:vertical-rl;
        text-align: left;
        bottom: 40vw;
        left: 8vw;
        font-weight: lighter;
    }

    .title span{
        bottom: 15vw;
    }
    
    .scroll{
        font-size: 18px;
        position: absolute;
        transform:rotate(90deg);
        bottom: 10vw;
        right: 2vw;
    }
    
    .scroll span{
        display: inline-block;
        width: 40vw;
        border-bottom: solid 1.5px #ffffff;
        position: relative;
        bottom: 2vw;
        left: 30px;
    }
    
    #about{
        background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)) ,url(images/about.jpg);
        height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 80px;
    }
    
    .about-text{
        color: #ffffff;
        text-align: right;
        width: 85%;
    }
    
    .about-text h2 {
        font-size: 24px;
        border-bottom: solid 1px #fff;
        font-weight: lighter;
    }
    
    .about-text p {
        padding-top: 50px;
        line-height: 56px;
    }
    
    #spot{
        width: 100%;
        background-color: #042D4D;
    }
    
    .left-title h2{
        font-size: 56px;
        color: #0F3653;
    }
    
    .left-title h3{
        width: fit-content;
        font-size: 12px;
        color: #ffffff;
        position: relative;
    }
    
    .spot-title h3{
        top: -3vw;
        left: 3vw;
        font-weight: lighter;
        font-size: 20px;
    }
    
    .sp {
        position: relative;
        width: 100%;
        color: white;
        display: flex;
        padding-bottom: 25vw;
    }
    
    .spot-right {
        justify-content: end;
    }
    
    .spot-left-back {
        position: absolute;
        width: 64vw;
        height: 25vw;
        border: solid 1px #FFAB1A;
        right: 15vw;
        top: 10vw;
        z-index: 0;
    }
    
    .spot-right-back {
        position: absolute;
        width: 64vw;
        height: 25vw;
        border: solid 1px #FFAB1A;
        left: 15vw;
        top: 10vw;
        z-index: 0;
    }
    
    .spot-left img, .spot-right img {
        width: 80%;
        position: relative;
        z-index: 2;
    }
    
    .spot-left-comment {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5vw;
        right: 18vw;
        width: 30vw;
        height: 28vw;
        /* height: calc(100vw * 0.35); */
        background-color: #015BA0;
        z-index: 4;
    }
    
    .spot-right-comment {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5vw;
        left: 18vw;
        width: 30vw;
        height: 28vw;
        /* height: calc(100vw * 0.35); */
        background-color: #015BA0;
        z-index: 4;
    }
    
    .spot-right-comment p, .spot-left-comment p {
        width: 60%;
        line-height: 3rem;
        font-size: 1rem;
    }
    
    .spot-left-name {
        position: absolute;
        top: -2.5vw;
        right: 20vw;
        writing-mode: vertical-rl;
        letter-spacing: 1rem;
        font-size: 44px;
        z-index: 6;
    }
    
    .spot-right-name {
        position: absolute;
        top: -6.5vw;
        left: 18.5vw;
        writing-mode: vertical-rl;
        letter-spacing: 1rem;
        font-size: 44px;
        z-index: 6;
    }
    
    #licence{
        width: 100%;
        background-color: #0F3653;
    }
    
    .right-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .right-title h2{
        font-size: 200px;
        color:  #042D4D;
    }
    
    .right-title h3{
        font-size: 32px;
        color: #ffffff;
        position: relative;
        font-weight: lighter;
    }
    
    .licence-title h3{
        top: -6vw;
        right: 20vw;
    }
    
    .licence-comment{
        height: 38vw;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(images/licence.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    
    .licence-arrow{
        display: flex;
        justify-content: center;
    }
    
    .licence-comment p{
        color: #ffffff;
        text-align: left;
        font-size: 18px;
        line-height: 64px;
        letter-spacing: 0.3em;
        padding-top: 135px;
        padding-left: 100px;
    }
    
    .licence-comment a{
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
        letter-spacing: 0.1em;
        transition: 0.5s;
    }
    
    .licence-comment a:hover{
        font-size: 20px;
        color: #FFAB1A;
    }
    
    .arrow_right {
        position: relative;
        padding-left: 25px;
    }
    
    .arrow_right::before { /* くの字の表示設定 */
        content: "";
        margin: auto;
        position: absolute;
        top: 28.3px;
        bottom: 0;
        left: 183px;
        width: 10px;    /* くの字を山なりに見た時、左側の長さ */
        height: 10px;   /* くの字を山なりに見た時、右側の長さ */
        border-top: 2px solid #FFAB1A;     /* くの字を山なりに見た時、左側の太さと色 */
        border-right: 2px solid #FFAB1A;   /* くの字を山なりに見た時、右側の太さと色 */
        transform: rotate(45deg);    /* くの字の向き */
      }
    
    .arrow_right::after { /* 棒の表示設定 */
        content: "";
        margin: auto;
        position: absolute;
        top: 28px;
        bottom: 0;
        left: 25px;
        width: 170px; /* 棒の長さ */
        height: 2px; /* 棒の太さ */
        background: #FFAB1A;  /* 棒の色 */
    }
    
    #shop{
        width: 100%;
        background-color: #042D4D;
    }
    
    .shop-title h3{
        top: -4vw;
        left: 9vw;
    }
    
    .shop-contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 15vw;
        padding-top: 3vw;
    }
    
    .shop-name{
        width: 100%;
        margin-top: 3vw;
    }
    
    .shop-name h4 {
        font-size: 28px;
        width: fit-content;
        margin-left: 5vw;
        border-bottom: solid 1.5px #FFAB1A;
        font-weight: lighter;
    }
    
    .shop-left{
        display: flex;
        width: 100%;
        height: 405px;
        color: #ffffff;
    }
    
    .shop-right{
        display: flex;
        justify-content: end;
        width: 100%;
        height: 405px;
        color: #ffffff;
    }
    
    .shop {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #032743;
    }
    
    
    .shop p{
        font-size: 18px;
        line-height: 50px;
        letter-spacing: 0.3em;
        margin-top: 3vw;
    }
    
    .shop a{
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        transition: 0.5s;
        margin-right: 5vw;
    }
    
    .shop-link {
        width: 100%;
        display: flex;
        justify-content: end;
        padding-top: 0vw;
    }
    
    .shop a:hover{
        font-size: 20px;
        color: #FFAB1A;
    }
    
    .arrow_shop {
        position: relative;
    }
    
    .arrow_shop::before {
        content: "";
        position: absolute;
        right: -1vw;
        bottom: -1vw;
        width: 10px;
        height: 10px;
        border-top: 2px solid #FFAB1A;
        border-right: 2px solid #FFAB1A;
        transform: rotate(45deg);
    }
    
    .arrow_shop::after {
        content: "";
        position: absolute;
        right: -1vw;
        bottom: calc(-1vw + 5px);
        width: 80px;
        height: 2px;
        background: #FFAB1A;
    }
    
    #footer{
        height: 400px;
        background-color: #021B2F;
        color: #ffffff;
    }
    
    .footer-wrapper{
        display: flex;
        padding-left: 10%;
        padding-top: 60px;
    }
    
    .footer-wrapper a:hover{
        color: #FFAB1A;
        transition: 0.3s;
    }
    
    .footer-box{
        border-left: solid 1.5px #FFAB1A;
        margin-right: 150px;
        padding-left: 20px;
    }
    
    .footer-box a{
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 0.1em;
        line-height: 0;
        margin: 46px 0 0 0;
        display: inline-block;
    }
    
    .first-footer-box a:nth-child(1){
        margin: 0;
        display: inline-block;
        font-size: 24px;
    }
    
    .second-footer-box{
        display: flex;
        align-items: center;
    }
    
    .second-footer-box a:nth-child(1){
        margin: 0;
    }
    
    .footer-last{
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    
    
    #c-card{
        width: 100%;
        background-color: #0F3653;
        padding-bottom: 10vw;
    }
    
    .c-card-title h3{
        top: -5vw;
        right: 15vw;
    }
    
    .c-card-comment{
        padding-right: 15vw;
    }
    
    .c-card-comment p{
        color: #ffffff;
        font-size: 18px;
        text-align: right;
        line-height: 4em;
    }
    
    #licence-flow{
        width: 100%;
        background-color: #042D4D;
        padding-bottom: 6vw;
    }
    
    .flow {
        position: relative;
        margin-bottom: 20vw;
        margin-top: 5vw;
        display: flex;
    }
    
    .licenceflow-title h2{
        font-size: 150px;
    }
    
    .licenceflow-title h3{
        top: -4vw;
        left: 25vw;
    }
    
    .flow-right {
        justify-content: end;
    }
    
    .flow img {
        width: 75vw;
        height: 25vw;
        object-fit: cover;
        object-position: 0% 100%;
        position: relative;
        z-index: 2;
    }
    
    .flow-left-comment{
        color: #ffffff;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 8vw;
        right: 12vw;
        width: 38%;
        background-color: #023E8A;
        z-index: 4;
        box-shadow: #011F45;
        box-shadow: 1.5vw 1.5vw 0 0 rgba(1, 31, 69, 1);
    }
    
    .flow-right-comment{
        color: #ffffff;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 8vw;
        left: 12vw;
        width: 38%;
        /* height: 35%; */
        background-color: #023E8A;
        z-index: 4;
        box-shadow: -1.5vw 1.5vw 0 0 rgba(1, 31, 69, 1);
    }
    
    .flow-left-comment h4 ,.flow-right-comment h4{
        width: 100%;
        font-size: 32px;
        text-align: center;
        margin-top: 2vw;
        font-weight: lighter;
    }
    
    .flow-left-comment p ,.flow-right-comment p{
        display: flex;
        width: 60%;
        margin: 3vw 0;
        line-height: 3rem;
        font-size: 1rem;
    }
    
    .fuwatAnime {
        -webkit-animation-fill-mode:both;
        -ms-animation-fill-mode:both;
        animation-fill-mode:both;
        -webkit-animation-duration:1.5s;
        -ms-animation-duration:1.5s;
        animation-duration:1.5s;
        -webkit-animation-name: fuwatAnime;
        -ms-animation-name: fuwatAnime;
        animation-name: fuwatAnime;
        visibility: visible !important;
    }
    
    .fuwatAnime2 {
        -webkit-animation-fill-mode:both;
        -ms-animation-fill-mode:both;
        animation-fill-mode:both;
        -webkit-animation-duration:2.3s;
        -ms-animation-duration:2.3s;
        animation-duration:2.3s;
        -webkit-animation-name: fuwatAnime;
        -ms-animation-name: fuwatAnime;
        animation-name: fuwatAnime;
        visibility: visible !important;
    }


}
